<div id="onboarding_modal">
	<div id="inner-preview">
		<h3>Your item is now for sale! One more thing...</h3>
		<p>AnyMarket deposits payouts to the bank account associated with a credit or debit card, so you'll need to add one of those to get paid.</p>
		<a href="/customer/new"><input type="submit" value="Add one now" id="purchase-button"></a>
	</div>
</div>
