<div id="login_wrapper">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<h3>Login</h3>
				<%= f.text_field :email, :id => "name_input", :autofocus => true, :required => true, :placeholder => "Email", :class => "form_inputs" %><br />
				<%= f.password_field :password, autocomplete: "off", :id => "name_input", :required => true, :placeholder => "Password", :class => "form_inputs" %><br />
				<%= f.submit "Login", :id => "submit",:id => "submit_item_btn" %>
				<% end %>
</div>