<div id="onboarding_modal">
	<div id="inner-preview">
		<h3>Welcome to AnyMarket!</h3>
		<p>To make sure you're who you say you are, please check for an email from us and click the verification link. In the meantime you'll only be able to view listings. Be sure to check your spam inbox.</p>
		<input type="submit" value="Okay!" id="purchase-button">
	</div>
</div>
