<div id="onboarding_modal">
	<div id="inner-preview-container">
		<h3>Welcome to AnyMarket!</h3>
		<p>To make sure you're who you say you are, please check for an email from us and click the verification link. In the meantime you'll only be able to view listings.</p>
		<input type="submit" value="Okay!" id="purchase-button">
	</div>
</div>
