<div id="onboarding_modal">
	<div id="inner-preview">
		<h3>Transaction complete</h3>
		<p>Please check your email for a message to connect with the seller and arrange a meeting time.</p>
		<input type="submit" value="Will do" id="skip-for-now">
	</div>
</div>