<div id="about-us-container">
	<h3>About AnyMarket</h3>
	<p>AnyMarket was started by Neil Parikh and Tom Maxwell to add more transparency and recourse to the process of selling items to those in ones community.</p>
	<div id="tom">
		<%= image_tag "picturetom.jpg", :id => "about_pic" %>
		<h4>Tom Maxwell</h4>
	</div>
</div>