<% @title="AnyMarket - About Us" %>
<div id="about-us-container">
	<div id="about-top">
		<h3>About AnyMarket</h3>
		<p>AnyMarket was started by Neil Parikh and Tom Maxwell to add more transparency and recourse to the process of selling items to those in ones community. Feel free to tweet either of us for support.</p>
	</div>
	<div id="tom">
		<div class="mask">
			<%= image_tag "neil.png", :id => "about_pic" %>
		</div>
		<h3>Neil Parikh</h3>
		<p><a href="http://twitter.com/neilpa23" target="_blank">@neilpa23</a></p>
	</div>
	<div id="tom">
		<div class="mask">
			<%= image_tag "picturetom.jpg", :id => "about_pic" %>
		</div>
		<h3>Tom Maxwell</h3>
		<p><a href="http://twitter.com/tommaxwelll" target="_blank">@tommaxwelll</a></p>
	</div>
</div>