<div id="about-us-container">
	<div id="about-top">
		<h3>About AnyMarket</h3>
		<p>AnyMarket was started by Neil Parikh and Tom Maxwell to add more transparency and recourse to the process of selling items to those in ones community.</p>
	</div>
	<div id="tom">
		<div class="mask">
			<%= image_tag "picturetom.jpg", :id => "about_pic" %>
		</div>
		<h4>Tom Maxwell</h4>
		<p><a href="http://twitter.com/tommaxwelll">@tommaxwelll</a></p>
	</div>
</div>