<div id="how-it-works-container">
	<h3>How It Works</h3>
	<div id="how-it-works-seller">
		<h4>Selling</h4>
		<div class="steps">
			<h4>1. Post your item</h4>
			<div id="step-description">
				<span class="glyphicon glyphicon-plus"></span>
				<p>AnyMarket only shows your listings to others that go to your school, to ensure you only deal with safe, trustworthy buyers. If your item sells we'll send you the money via a credit/debit card, so we'll ask you to add one before listing an item.</p>
			</div>
		</div>
		<div class="steps">
			<h4>2. Respond to questions</h4>
			<div id="step-description">
				<span class="glyphicon glyphicon-question-sign"></span>
				<p>If anyone sends you a question in regard to your listing, you'll receive an email with a link to where you can reply.</p>
			</div>
		</div>
		<div class="steps">
			<h4>3. Contact the buyer</h4>
			<div id="step-description">
				<span class="glyphicon glyphicon-send"></span>
				<p>If your item sells, you and the buyer will be included in an email in which you can exchange contact details and discuss a time and place to meet.</p>
			</div>
		</div>
	</div>
	<div id="how-it-works-buyer">
		<h4>Buying</h4>
		<div class="steps">
			<h4>1. Find an item you want</h4>
			<div id="step-description">
				<span class="glyphicon glyphicon-search"></span>
				<p>AnyMarket only shows you listings from students at your school, to ensure you only deal with verified, trustworthy sellers. Listings are organized by category and you can also search to get more specific. Ask the seller a question if something wasn't covered in the listing.</p>
			</div>
		</div>
		<div class="steps">
			<h4>2. Add a payment method and purchase</h4>
			<div id="step-description">
				<span class="glyphicon glyphicon-credit-card"></span>
				<p>All transactions on AnyMarket are handled by Braintree Payments, a leader in payment processing. If you haven't already added a credit or debit card to your account we'll ask you to do this before you can complete the transaction. No more dealing with cash, and added peace of mind that the item is yours.</p>
			</div>
		</div>
		<div class="steps">
			<h4>3. Contact the seller</h4>
			<div id="step-description">
				<span class="glyphicon glyphicon-send"></span>
				<p>Once you've purchased the item, you will receive the seller's contact details and be included an email sent to you and the seller where you can arrange a time and place to meet.</p>
			</div>
		</div>
	</div>
</div>