<div id="how-it-works-container">
	<h3>How It Works</h3>
	<div id="how-it-works-seller">
		<h4>Selling</h4>
		<div class="steps">
			<h4>1. Post your item</h4>
			<div id="step-description">
				<span class="glyphicon glyphicon-plus"></span>
				<p>AnyMarket only shows your listings to others that go to your school, to ensure you only deal with safe, trustworthy buyers.</p>
			</div>
		</div>
		<div class="steps">
			<h4>2. Respond to questions</h4>
			<div id="step-description">
				<span class="glyphicon glyphicon-question-sign"></span>
				<p>If anyone sends you a question in regard to your listing, you'll receive an email with a link to where you can reply.</p>
			</div>
		</div>
		<div class="steps">
			<h4>3. Contact the buyer</h4>
			<div id="step-description">
				<span class="glyphicon glyphicon-send"></span>
				<p>If your item sells, you and the buyer will be included in an email in which you can exchange contact details and discuss a time to meet.</p>
			</div>
		</div>
	</div>
	<div id="how-it-works-buyer">
		<h4>Buying</h4>
	</div>
</div>