<% if signed_in?(:user) %>
<div id="your-listings">
  <h3 id="your-listings-header" class="page-header">What You're Selling</h3>
  <% @user.products.each do |f| %>
  <div class="listing">
    <h4><%= link_to f.name, view_item_path(f.id) %></h4><strong><p class="price">$<%= f.decimal_price %></p></strong>
    <p><%= f.description %></p>
  </div>
  <% end %>
</div>
<% else %>
<h1>FUCK YOU</h1>
<% end %>
<script type="text/javascript">
    $.get("/categories", null, "script");
</script>