<% if signed_in?(:user) %>
<%= link_to 'My Conversations', :conversations %>
  <h1>Your listings</h1>
  <% @user.products.each do |f| %>
    <p><%= link_to f.name, view_item_path(f.id) %></p>
  <% end %>
<% else %>
<h1>FUCK YOU</h1>
<% end %>