/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body {
  margin-top:50px;
}

textarea {
  resize:none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.container-fluid {
  width:90%;
  max-width:1100px;
  position:relative;
  bottom:30px;
}

#fixed-navbar {
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:50px;
  margin-bottom:20px;
  li{
    font-size:16px;
  }
  a{
    position:relative;
    float:left;
  }
  h3{
    margin-top:24px;
  }
  p{
    color:#bbb;
    font-size:16px;
    height:50%;
    margin-top:28px;
    display:inline-block;
    margin-left:10px;
  }
}

#nav-links {
  white-space:nowrap;
  height:50%;
  position:absolute;
  top:25%;
  right:0;
  
  li {
    display:inline-block;
    padding:5px;
  }
  li:nth-of-type(4){
    padding:5px 0 5px 5px;
  }
  a, a:hover {
    color:#bbb;
  }
  #list-item-btn{
    cursor:pointer;
  }
}

#site-header, #site-header:hover {
  display:inline-block;
  position:relative;
  height:50%;
  font-weight:800;
  float:left;
  color:#428bca;
}

#category-page-header {
  @extend #site-header;
  margin-top:20px;
}

#your-listings {
  position:relative;
  float:left;
  top:10px;
  width:80%;
  max-width:800px;
  #your-listings-header {
   margin-top:20px !important;
   font-size:21px;
   color:#bbb;
   font-weight:bold;
    .glyphicon-usd{
      font-size:18px;
      top:2px;
    }
  }
}

div.listing {
  margin:25px 0 25px 0;
  border-margin:3px;
  h4 {
    display:inline;
  }
  a, a:hover{
    border-bottom:1px solid rgba(0,0,0,0.1);
    text-decoration:none;
    font-weight:800;
    color:black;
  }
  a:hover {
    color:#428bca;
  }
  .price {
    display:inline;
    color:#428bca;
  }
  p{
    margin-bottom:2px;
    display:inline;
    margin-left:10px;
    color:#999999;
    font-size:16px;
  }
  #listed_by_name{
    color:#bbb;
  }
}

#categories-index-list {
  position:relative;
  float:right;
  top:30px;
  padding:20px;
  margin:0;
  width:20%;
  max-width:200px;
  border-radius:3px;
  border-top:1px solid #C4C4C4;
  border-bottom:1px solid #E2E2E2;
  border-left:1px solid #DADADA;
  border-right:1px solid #DADADA;
  h3 {
    margin-top:0px;
  }
  p{
    font-size:18px;
  }
  a:hover{
    color:#428bca;
  }
}

#profile_picture {
  border-radius:50%;
  position:relative;
  top:5px;
}

#listing-new {
  position:fixed;
  width:700px;
  top:0;
  right:0;
  bottom:0;
  background-color:#fff;
  box-shadow:0 0 20px rgba(0,0,0,0.25);
  z-index:100;
  display:none;
  #list-header{
    position:relative;
    left:7%;
    top:25px;
    margin-bottom:0;
  }
  .new_product{
    position:relative;
    left:7%;
    top:55px;
    width:65%;
  }
  p{
    @extend #list-header;
    top:35px;
  }
}

#new_product {
  .form_inputs {
    background-color:#F7F7F7;
    border-radius:3px;
    border-top:1px solid #C4C4C4;
    border-bottom:1px solid #E2E2E2;
    border-left:1px solid #DADADA;
    border-right:1px solid #DADADA;
    padding:5px;
    width:100%;
    margin-bottom:10px;
  }
}

#name-input {
  margin-right:10px;
}

#profile-heading {
  text-align:center;
  margin-top:50px;
  img{
    border-radius:50%;
    width:150px;
    height:150px;
  }
  h2{
    font-weight:800;
    margin-bottom:5px;
  }
}

#school {
  color:#bbb;
  font-size:16px;
}

#profile_end {
  text-align:center;
  font-size:30px;
  font-weight:bold;
  color:#bbb;
  padding:40px;
}

#edit_user_form{
  width:60%;
  .clean{
    background-color:#F7F7F7;
    border-radius:3px;
    border-top:1px solid #C4C4C4;
    border-bottom:1px solid #E2E2E2;
    border-left:1px solid #DADADA;
    border-right:1px solid #DADADA;
    padding:5px;
    width:100%;
    margin-bottom:10px;
  }
}

#settings-header {
  margin-top:50px;
}

#listings-toggle {
  position:relative;
  float:right;
  a{
    color:#bbb;
    cursor:pointer;
  }
}

#listing-container {
  position:relative;
  top:20px;
  #product_left {
    position:relative;
    float:right;
    display:inline-block;
    width:600px;
    max-width:50%;
    img{
      max-height:600px;
      max-width:100%;
    }
  }

  #product_right {
    position:relative;
    float:left;
    display:inline-block;
    width:500px;
    max-width:70%;
    padding:0 20px 20px 0px;
      h1{
        margin-top:0;
        font-weight:bold;
        }
      h3{
        color:#bbb;
        font-size:22px;
        margin-top:0;
      }
      input[type="submit"] {
        @extend #submit_item_btn;
        width:200px !important;
        margin-top:10px;
      }
    #product_profile_picture{
      border-radius:50%;
      position:relative;
      bottom:4px;
      margin-left:10px;
    }
    #guarantee{
      margin-top:10px;
      border-bottom:1px solid #bbb;
      padding-bottom:20px;
    }
  }
  
}

#categories_profile_picture{
    border-radius:50%;
    position:relative;
    bottom:4px;
    margin-right:10px;
  }

.nounderline{
  border-bottom:none !important;
}

.no-items{
  line-height:1.4em;
}

#no-cc-alert {
  padding: 10px;
  border-radius: 3px;
  margin:0;
  color:white;
  background-color:#F9690E;
  a{
    color:black;
    text-decoration:underline;
  }
}

#submit_item_btn {
  
    font-weight: bold;
    padding: 6px 20px 6px 20px;
    border-radius: 16px;
    background-color: #428bca;
    border: 3px solid #428bdc;
    color: white;
    width: 150px;
}
#submit_item_btn:hover{
      border:3px solid #0F5897;
    }

#bottom-nav {
  position:relative;
  float:right;
  clear:both;
  width:20%;
  max-width:200px;
  text-align:center;
  bottom:135px;
  padding-left:0;
  color:#bbb;
  li{
    display:inline;
    position:relative;
    padding:0px 7px 7px 7px;
    font-size:12px;
  }
  li:hover{
    color:#999999;
  }
  li:nth-of-type(4):hover{
    color:#bbb;
  }
}

.new_product {
  width:80%;
}

#about_delivery_box {
    position:relative;
    top:10px;
    padding: 20px;
    margin: 0;
    border-radius: 3px;
    background-color: #eeeeee;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #E2E2E2;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    h4 {
      margin: 0 0 20px 0;
      font-weight:bold;
    }
}
