/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html,body{
	width:100%;
	height:100%;
	font-family:"Open Sans", sans-serif;
}

textarea {
  resize:none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.container-fluid {
  width:90%;
	height:auto !important;
  max-width:1100px;
  position:relative;
	padding-bottom:60px;
}

#co-address{
	font-size:11px;
	color:#eeeeee;
}

.mask{
	display:inline-block;
	width:150px;
	height:150px;
	border-radius:50%;
	overflow:hidden;
}

#about_pic{
	max-width:150px;
}

#fixed-navbar {
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:50px;
	#login-button{
		cursor:pointer;
		padding:3px 10px 3px 10px;
		border:1px solid #bbb;
		border-radius:3px;
	}
	#login-button:hover{
		background:#bbb;
		color:white;
		text-decoration:none;
	}
	#login-yo{
		position:relative;
		top:10px;
		padding:0 !important;
	}
  li{
    font-size:16px;
  }
  a{
    position:relative;
    float:left;
  }
  h3{
    margin-top:26px;
  }
  p{
    color:#bbb;
    font-size:16px;
    height:50%;
    display:inline-block;
    margin-left:10px;
		position:relative;
		top:28px;
  }
	#searchbar{
		position:relative;
		float:left;
		top:23px;
		max-width:300px;
		left:40px;
		#q {
			padding:4px;
			border-radius:3px;
			border:1px solid #bbb;
		}
		#q:focus{
			border:1px solid #999;
		}
		#eyeglass{
			text-indent:-99999px;
		}
	}
}

#nav-links {
  white-space:nowrap;
  position:relative;
	float:right;
	height:60px;
	margin-top:14px;
  li {
    display:inline-block;
    padding:5px;
  }
  li a span{
    top:2px !important;
  }
  li a span:hover{
    color:#428bca;
  }
  li:nth-of-type(4){
    padding:5px 0 5px 5px;
  }
  a, a:hover {
    color:#bbb;
  }
}

#site-header, #site-header:hover {
  display:inline-block;
  position:relative;
  font-weight:800;
  float:left;
  color:#428bca;
	font-size:20px;
}

#category-page-header {
  @extend #site-header;
  margin-top:20px;
}

#your-listings {
  position:relative;
  float:left;
  top:10px;
	z-index:1000;
  #your-listings-header {
   margin-top:20px !important;
   font-size:18px;
   color:#bbb;
    .glyphicon-usd{
      font-size:18px;
      top:3px;
			margin:0 8px 0 -3px;
    }
		.glyphicon-question-sign{
			margin-left:8px;
			font-size:15px;
			color:#bbb;
		}
  }
}

div.listing {
  margin:25px 0 25px 0;
  h4 {
    display:inline;
    font-weight:bold;
		margin-bottom:0;
		margin-top:0;
  }
	a{
		text-align:left;
		position:relative;
		float:left;
		display:inline-block;
	}
  a:nth-of-type(1){
    border-bottom:1px solid rgba(0,0,0,0.1);
    text-decoration:none;
    font-weight:800;
    color:black;
  }
  a:nth-of-type(1):hover {
    color:#428bca;
  }
  a:nth-of-type(2){
    color:black;
  }
  a:nth-of-type(2):hover{
    color:#428bca;
  }
  a:nth-of-type(3){
    color:black;
  }
  a:nth-of-type(3):hover{
    color:#428bca;
  }
  .price {
    display:inline;
    color:#0fc37b !important;
		font-weight:500;
		font-size:14px;
  }
  p{
    margin-bottom:2px;
    display:inline;
    margin-left:10px;
    color:#999999;
    font-size:16px;
  }
  #listed_by_name{
    color:#bbb;
  }
}

#categories-index-list {
  position:relative;
  float:right;
	clear:both;
	text-align:right;
  margin:0;
  width:100%;
  max-width:200px;
  border-radius:3px;
  h3 {
    margin-top:30px;
		font-size:18px;
  }
  p{
    font-size:16px;
  }
  a:hover{
    color:#428bca;
  }
}

#profile_picture {
  border-radius:50%;
  position:relative;
  top:5px;
}


  #list-header{
    position:relative;
    margin-bottom:0;
    font-weight:bold;
  }

  #onemantrash{
    @extend #list-header;
    font-size:17px;
    font-weight:400;
    margin-top:5px;
  }


#new_product {
  .form_inputs {
    background-color:#F7F7F7;
    border-radius:3px;
    border-top:1px solid #C4C4C4;
    border-bottom:1px solid #E2E2E2;
    border-left:1px solid #DADADA;
    border-right:1px solid #DADADA;
    padding:5px;
    width:100%;
    margin-bottom:10px;
  }
}

#name-input {
  margin-right:10px;
}

#profile-heading {
  text-align:center;
  margin-top:120px;
	.verified-method{
		color:#0fc37b !important;
	}
}

#profile-heading .user-image-as-background{
    border-radius:50%;
    display:block;
	  margin-left:auto;
	  margin-right:auto;
	  background-size:cover;
	  background-repeat:no-repeat;
	
  }

#profile-heading h2 {
	font-weight:800;
	margin-bottom:5px;
}

#school {
  color:#bbb;
  font-size:16px;
}

#profile_end {
  text-align:center;
  font-size:30px;
  font-weight:bold;
  color:#bbb;
  padding:30px;
}

.edit_user_form{
  width:60%;
  .clean{
    background-color:#F7F7F7;
    border-radius:3px;
    border-top:1px solid #C4C4C4;
    border-bottom:1px solid #E2E2E2;
    border-left:1px solid #DADADA;
    border-right:1px solid #DADADA;
    padding:5px;
    width:100%;
    margin-bottom:10px;
  }
}


#settings-header {
  margin-top:50px;
}

#listings-toggle {
  position:relative;
  float:right;
  color:#bbb;
  cursor:pointer;
}

#listing-container {
  position:relative;
  top:20px;
	float:left;
	margin-bottom:20px;
  #product_left {
    position:relative;
    float:right;
    display:inline-block;
    width:600px;
    max-width:50%;
    img{
      max-height:600px;
      max-width:100%;
			display:block;
			margin: 0 auto;
    }
		hr{
			border-color:#CCC;
		}
		a:hover{
			color:#428bca;
		}
  }

  #product_right {
    position:relative;
    float:left;
    display:inline-block;
    width:500px;
    max-width:70%;
    padding:0 20px 20px 0px;
			#share-links{
				h3{
					color:#333 !important;
				}
			}
      h1{
        margin-top:0;
        font-weight:bold;
        }
      a:nth-of-type(1){
        color:#bbb;
      }
			#green-price{
				color: #0fc37b !important;
				font-weight:bold;
			}
			#by-info{
				font-size:20px;
				position:relative;
				bottom:6px;
				.verified-badge{
					font-size:14px !important;
					margin:0 5px 0 5px !important;
				}
				.verified-method{
					color:#0fc37b !important;
				}
			}
      h3{
        color:#bbb;
        font-size:22px;
        margin-top:0;
      }
      input[type="submit"] {
        @extend #submit_item_btn;
        width:100% !important;
      }
    #product_profile_picture{
      border-radius:50%;
      position:relative;
      bottom:4px;
      margin-left:10px;
    }
    .guarantee{
      margin-top:10px;
			text-align:center;
    }
		hr{
			border-color: #CCC !important;
		}
  }
  
}

#categories_profile_picture{
    border-radius:50%;
    position:relative;
    bottom:4px;
    margin-right:10px;
  }

.nounderline{
  border-bottom:none !important;
}

.no-items{
  line-height:1.4em;
}

#no-cc-alert {
  padding: 10px;
  border-radius: 3px;
  margin:0;
  color:white;
  background-color:#F9690E;
	display:inline-block;
	width:100%;
  a{
    color:black;
    text-decoration:underline;
  }
}

#submit_item_btn {
  
    font-weight: bold;
    padding: 6px 20px 6px 20px;
    border-radius: 3px;
    background-color: #428bca;
    border:1px solid #428bca;
    color: white;
    width: 150px;
}
#submit_item_btn:hover{
      background-color:#2972B1;
      border:1px solid #2972B1;
    }

#bottom-nav {
  position:relative;
  float:right;
  clear:both;
  width:100%;
  text-align:center;
  padding-left:0;
  color:#bbb;
  li{
    display:inline;
    position:relative;
    padding:0px 7px 7px 7px;
    font-size:12px;
  }
  li:hover{
    text-decoration:underline;
  }
  li:nth-of-type(4):hover{
    text-decoration:none;
  }
}

.new_product {
  width:100%;
  margin-top:20px;
}

#about_delivery_box {
    position:relative;
    top:10px;
    padding: 20px;
    margin: 0;
    border-radius: 3px;
    background-color: #eeeeee;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #E2E2E2;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
		margin-bottom:30px;
    h4 {
      margin: 0 0 20px 0;
      font-weight:bold;
    }
}

#wrapper {
  
    width: 200px;
    max-width:20%;
    position: relative;
    float: right;

}

#listing-form-wrapper {
  width:60%;
  position:relative;
	float:left;
}

#not-verified-yet{
	width:60%;
	position:absolute;
	float:left;
	top:300px;
	z-index:1000;
	left:100px;
}

#how-it-works{
	width:35%;
	position:relative;
	float:right;
}

.steps {
	margin:20px 0 20px 0;
	h4{
		font-weight:bold;
	}
}

#categories-page-wrapper {
	display:inline-block;
  background-color:#eeeeee;
  width:100%;
  padding:20px;
  border-top:1px solid #C4C4C4;
  border-bottom:1px solid #E2E2E2;
  border-left:1px solid #DADADA;
  border-right:1px solid #DADADA;
  border-radius:3px;
  position:relative;
  top:10px;
	margin-bottom:10px;
	padding-bottom:0 !important;
  h4{
    display:inline-block;
    position:relative;
    float:left;
    clear:both;
    margin:0;
    bottom:9px;
  }
}

.category-page-category{
  position:relative;
  display:inline-block;
  float:left;
  margin:0;
  padding:0 10px 0 10px;
  bottom:9px;
  left:10px;
}

.category-page-category a:hover{
  color:#428bca;
}

#category-header{
  position:relative;
	top:20px;
  h2{
    margin-bottom:20px;
		margin-top:0 !important;
  }
}

#prof_default {
  color:#bbb;
}

#prof_default:hover {
  color:black;
  text-decoration:none;
}

#listings-toggle:hover{
color:black;
text-decoration:none;
}

.active {
  cursor:copy !important;
  pointer-events:none;
  color:black !important;
  text-decoration:none;
}

.school-pic {
  
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative;
    float: right;
    bottom: 5px;

}

#ask-question{
  background-color:#eeeeee !important;
  border:none !important;
  padding:9px 23px 9px 23px !important;
  color:black !important;
  margin:0 !important;
}

#ask-question:hover{
	background-color:#D5D5D5 !important;
}

#send_question_wrapper {
  width:50%;
  margin:0 auto;
  position:fixed;
  left:0;
  right:0;
  top:200px;
  form{
    display:inline-block;
    width:100%;
    padding:20px;
    background-color:white;
    border-radius:3px;
    border:1px solid #bbb;
  }
  h3{
    margin:0 0 20px 0;
  }
}

#login_wrapper {
	@extend #send_question_wrapper;
	z-index:1000;
	width:25% !important;
	input[type="text"], input[type="password"]{
		width:100% !important;
		padding:5px;
		margin-bottom:10px;
		border:1px solid #bbb;
	}
	input[type="submit"]{
		width:100%;
	}
	input[type="password"]{
		margin-top:7px;
	}
}

.login-modal{
	@extend #send_question_wrapper;
	z-index:1000;
	width:25% !important;
	top:100px !important;
	form{
		border:none !important;
	}
	input[type="text"], input[type="password"]{
		width:100% !important;
		padding:5px;
		margin-bottom:10px;
		border:1px solid #bbb;
	}
	input[type="submit"]{
		width:100%;
	}
	input[type="password"]{
		margin-top:7px;
	}
}

.page-header {
  margin-top:50px !important;
	border-bottom: none !important;
}

#list-first-wrapper {
	text-align:center;
	a {
		color:black;
		font-weight:bold;
  }
	span{
		top: -2px !important;
		margin-right:20px;
	}
	h3{
		display:inline;
	}
}

#product-title {
	color:black !important;
	margin-top:0;
	margin-bottom:15px;
	font-size:28px;
}

#otherlistings {
	margin-top:20px;
	font-size:24px;
}

.other-listings{
	a{
		color:black !important;
	}
	a:hover {
		color:#428bca !important;
	}
}

#index-wrapper {
	position:relative;
	float:left;
	clear:both;
	#most-recent{
		display:inline-block;
		position:relative;
		float:left;
		top:10px;
		h3{
			display:inline-block;
			margin:20px 0 5px 0 !important;
			font-size:18px;
			color:#bbb;
			.glyphicon-time{
				font-size:18px;
				top:3px;
				margin-right:8px;
			}
			.glyphicon-question-sign{
				margin-left:8px;
				font-size:15px;
				color:#bbb;
			}
		}
	}
	#listing-shout{
		display:inline-block;
		position:relative;
		float:left;
		top:20px;
		width:100%;
		height:100px;
		background-color:#eeeeee;
		border-radius:3px;
		text-align:center;
		border-top:1px solid #C4C4C4;
		border-bottom:1px solid #E2E2E2;
		border-left:1px solid #DADADA;
		border-right:1px solid #DADADA;
	}
}

#landing-wrapper {
	display:table;
	width:100%;
	margin-bottom:150px;
	margin-top:100px;
	#sign_up_and_pitch{
		display:inline-block;
		position:relative;
		float:left;
		clear:both;
		max-width:48%;
		margin-left:10px;
		p{
			position:relative;
			top:60px;
			line-height:1.5em;
			font-size:16px;
		}
		form{
			position:relative;
			top:30px;
			input[type="text"], input[type="password"]{
				width:300px;
				max-width:300px;
				margin: 5px 0 5px 0;
				padding:4px;
				border:1px solid #bbb;
			}
			input[type="submit"]{
				width:300px;
				position:relative;
				top:10px;
				padding-top:8px;
				padding-bottom:8px;
			}
		}
	}
	#recently_added_preview{
		position:relative;
		float:right;
		max-width:50%;
		margin-left:10px;
		top:100px;
	}
	#landing-recent h3{
		border-bottom:1px solid #bbb !important;
	}
	h3 {
		margin:0 !important;
	}
	#pitch{
		font-weight:bold;
		line-height:1.3em;
	}
	#schools-list{
		display:inline-block;
		position:absolute;
		max-height:10%;
		bottom:10%;
		left:0%;
		ul{
			list-style-type:none;
			padding:0 !important;
			li h4{
				position:relative;
				top:15px;
				color:#bbb;
				display:inline;
				font-style:italic;
			}
			li{
				padding:20px;
				display:inline;
				position:relative;
				float:right;
			}
		}
		img{
			width:50px;
			height:50px;
		}
	}
}

.counter {
	position:relative;
	float:left;
	margin-top:0;
	margin-bottom:0;
	margin-right:10px;
	font-weight:500 !important;
}

.productmod {
	font-size:16px;
}

#logo {
	width:28px;
	height:28px;
	position:relative;
	float:left;
	margin-top:23px;
	margin-right:8px;
}

#available-at {
	top:5px !important;
	color:#bbb;
	margin-bottom:0;
}

#login-modal-execute {
	cursor:pointer;
}

#like, #tweet, #pin {
	display:inline-block;
	margin: 0 7px 0 0;
}

#like {
	position:relative;
	bottom:5px;
}

#menu {
	display:inline-block;
	position:relative;
	float:right;
	img {
		margin-top:17px;	
		cursor:pointer;
	}
	.dropdown-menu>li>a {
		width:100%;
		outline:0;
	}
	.dropdown-menu-right{
		top:80%;
	}
	#mailbox-url {
		font-size:20px;
		color:#bbb;
	  span {
			margin-top:27px;
			margin-right:20px;
		}
	}
	#school-navbar{
		position:relative;
		float:left;
		margin-right:30px;
		font-size:15px;
		top:27px !important;
		color:#428bca;
		span{
			margin-right:6px;
			top:2px !important;
		}
	}
	#dropdown-arrow {
		position:relative;
		float:right;
		display:inline;
		bottom:19px;
		margin-left:5px;
		color:#bbb;
		.caret {
			border-top: 5px solid !important;
			border-right: 5px solid transparent !important;
			border-left: 5px solid transparent !important;
		}
	}
	#dropdown-arrow:hover {
		color:#A2A2A2;
	}
	#list-btn {
		font-size:15px;
		margin-top:27px;
		margin-right:20px;
		color:#bbb;
	}
}

.fb-share-button {
	bottom: 5px;
	margin-right:7px;
}

#share-links {
	h3{
		margin-bottom:15px !important;
	}
}

.index_categories{
	margin-bottom:20px;
}

.preview_toggle {
	cursor:pointer;
}

#photo_preview {
	@extend #send_question_wrapper;
	z-index:1000;
	width:600px;
	background-color:white;
	border:1px solid #bbb;
	border-radius:3px;
	padding:5px;
	top:50px !important;
	img{
		width:100%;
		max-width:600px;
		height:100%;
		max-height:500px;
	}
	#remove {
		float:right;
		color:#bbb;
		margin-bottom:5px;
		cursor:pointer;
	}
}

#camera-icon-preview {
	margin-left:10px;
	position:relative;
}

#camera-icon-preview:hover {
	color:#bbb;
}

#footer-container {
	position:relative;
	bottom:0;
	width:100%;
	margin:0 auto;
	#content {
		max-width:1100px;
		padding:40px 15px 40px 15px;
		margin: 0 auto;
		.social{
			float:right;
			margin-right:0;
			margin-left:20px;
		}
		p{
			display:inline;
			position:relative;
			float:left;
			clear:both;
			margin:30px 0 30px 0;
		}
		#emergency-help{
			float:right;
			margin:0;
			top:10px;
			color:grey;
		}
		ul{
			list-style-type:none;
			padding:0;
			li{
				display:inline;
				float:left;
				margin-right:20px;
				font-weight:bold;
				a{
					color:black !important;
				}
				a:hover {
					color:#428bca !important;
					text-decoration:none;
				}
			}
		}
	}
}

.question {
	padding:0 !important;
	border:0 !important;
	top:100px !important;
}
#add-payment-header{
	display:inline-block;
	position:relative;
	float:left;
	top:45px;
	clear:both;
	margin:0;
}

#new-braintree-customer{
	position:relative;
	top:75px;
	margin-bottom:100px;
	display:inline-block;
	float:left;
	clear:both;
	width:50%;
	form{
		width:90% !important;
	}
	fieldset{
		position:relative;
		float:left;
		clear:both;
		width:100%;
	}
	input[type="submit"]{
		position:relative;
		float:left;
		clear:both;
	}
}

.onboarding-card{
	width:50% !important;
	p{
		line-height:1.5em;
	}
}

#braintree-logo {
	width:300px;
	position:relative;
	margin:0 auto;
	left:100px;
	top:20px;
}

#about-us-container{
	position:relative;
	margin:40px 0 40px 0;
	#about-top{
		display:inline-block;
		position:relative;
		margin-bottom:40px;
		h3{
			font-weight:bold;
		}
		p{
			font-size:18px;
		}
	}
	#tom{
		text-align:center;
		margin:30px 0 30px 0;
		h3{
			font-weight:bold;
			color:#bbb;
			margin-top:10px;
			font-size:26px;
		}
	}
}

.verified-badge{
	position:relative;
	margin: 0 7px 0 7px;
	bottom:1px;
	font-size:21px;
}

.countdown, .countdown2, .countdown3{
	display:inline-block;
	margin-bottom:10px;
	color:#bbb;
}

#confirm_purchase_info{
	width:50%;
	margin-top:20px;
	position:relative;
	float:left;
}

#about-purchase-container{
	margin-top:20px;
	width:100%;
	form{
		position:relative;
		float:left;
	}
	#about-item{
		width:40%;
		max-width:400px;
		float:right;
	}
	#seller-buyer-details{
		position:relative;
		float:left;
		width:40%;
		max-width:400px;
		#by-info{
			margin:0 0 10px 0;
			#product_profile_picture{
				border-radius:50%;
				position:relative;
				bottom:2px;
				margin-left:10px;
			}
			.verified-badge{
				top:2px !important;
			}
			#toolz{
				margin: 0 3px 0 3px;
				color:#0fc37b;
			}
		}
	}
	
}