/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body {
  margin-top:50px;
}

textarea {
  resize:none;
}

.container-fluid {
  width:90%;
  max-width:1200px;
}

#fixed-navbar {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:50px;
  overflow:hidden;
  white-space:nowrap;
  z-index:1000;
}

#nav-links {
  white-space:nowrap;
  height:50%;
  position:absolute;
  top:25%;
  right:5%;
  padding-right:15px;
  
  li {
    display:inline;
    padding:5px;
  }
  a, a:hover {
    color:#bbb;
  }
}

#site-header {
  display:inline-block;
  position:absolute;
  height:50%;
  left:5%;
  padding-left:21px;
  font-weight:800;
  
}

#category-page-header {
  @extend #site-header;
  margin-top:20px;
}

#your-listings {
  position:relative;
  float:left;
  top:10px;
  width:80%;
  max-width:800px;
  #your-listings-header {
    margin-top:20px !important;
  }
}

div.listing {
  margin:20px 0 20px 0;
  padding:10px 10px 0 0;
  border-margin:3px;
  h4 {
    display:inline;
  }
  a, a:hover{
    border-bottom:1px solid rgba(0,0,0,0.1);
    text-decoration:none;
    font-weight:800;
    color:black;
  }
  a:hover {
    color:#428bca;
  }
  .price {
    display:inline;
    padding-left:10px;
  }
  p{
    margin-bottom:2px;
  }
}

#categories-index-list {
  position:relative;
  float:right;
  top:20px;
  padding:20px;
  margin:0;
  width:20%;
  max-width:200px;
  border-radius:3px;
  border-top:1px solid #C4C4C4;
  border-bottom:1px solid #E2E2E2;
  border-left:1px solid #DADADA;
  border-right:1px solid #DADADA;
  h3 {
    margin-top:0px;
  }
  p{
    font-size:18px;
  }
}

#profile_picture {
  border-radius:50%;
}
