<div id="categories-page-wrapper">
  <h4>Explore categories</h3>
  <% @categories = Category.all %>
  <% @categories.each do |f| %>
    <p class="category-page-category"><%= link_to f.name, view_category_path(f.id) %></p>
  <% end %>
</div>