<h3>Welcome to AnyMarket!</h3>

<p>Please click to link below to confirm your account and get started:</p>

<p><%= link_to 'Confirm my account', user_confirmation_url(:confirmation_token => @resource.confirmation_token) %></p>

<span id="co-address">29 Cheshire Court, Alameda, CA 94502</span>