<h3 id="add-payment-header">Add Payment Info</h3>
<div id="new-braintree-customer">
	<%= render "form" %>
</div>
<div id="how-it-works" class="onboarding-card">
	<h3 id="list-header">Why do we need your credit/debit card?</h3>
	<div class="steps">
		<p>AnyMarket has partnered with <a href="http://braintreepayments.com" rel="_nofollow">Braintree Payments</a> -- a leader in payment processing -- to bring you safe, secure trading. When you pay for an item on AnyMarket, or list an item for sale, all trading of money will be conducted over the internet. So, for example, if an item you've listed sells, after 7 business days have past the cost of the item will be sent to the bank account associated with your debit or credit card. During those 7 business days we will hold the money so you have time to make the in-person trade.</p>
	</div>
	<%= image_tag "braintree-logo.png" %>
</div>