<h3 id="add-payment-header">Add Payment Info <a href="#" data-toggle="tooltip" data-placement="right" title="All sending/receiving of funds is conducted through credit/debit card." id="tools"><span class="glyphicon glyphicon-question-sign"></span></a></h3>
<div id="new-braintree-customer">
	<%= render "form" %>
</div>