<h3 id="add-payment-header" style="font-weight:bold">Add Payment Info</h3>
<div id="new-braintree-customer">
	<%= render "form" %>
</div>
<div id="how-it-works" class="onboarding-card">
	<h3 id="list-header">Why do we need your credit/debit card?</h3>
	<div class="steps">
		<p>AnyMarket has partnered with <a href="http://braintreepayments.com" rel="_nofollow">Braintree Payments</a> -- a leader in payment processing -- to bring you safe, secure trading. Your payment information is stored with Braintree and <b>never</b> touches AnyMarket servers.</p>
	</div>
	<%= image_tag "braintree-logo.png", :id => "braintree-logo" %>
</div>